SERVER_HOST=localhost
SERVER_PORT=3000
SERVER_ENV=dev

BETTER_AUTH_SECRET=my_secret_key
BETTER_AUTH_URL=http://localhost:3000

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASS=postgres
PG_NAME=mydb

RDS_HOST=localhost
RDS_PORT=6379
RDS_PASS=redis
